*.mp4* filter=lfs diff=lfs merge=lfs -text
client/src/assets/AI[[:space:]]Project[[:space:]]rough[[:space:]]cut.mp4 filter=lfs diff=lfs merge=lfs -text
*[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
